body{
    font-family:'Playfair Display';
}

.headerClass{
    background-color:#1F2937;
    display:flex;
    justify-content:space-between;
    padding-left:5%;
    padding-right:5%;
   
}

.headerLogo{
    font-size:24px;
    font-weight: bolder;
    color:#F9FAF8;
}

.headerLeft li{
    list-style-type:none;
}
.headerRight li{
    list-style-type:none;
    color: #e5e7eb;
    font-size:18px;
}
.headerRight{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.headerMainContainer{
    display:flex;
    background-color:#1F2937;
    justify-content:center;
    padding:90px;
   
   

}

.contentHeaderTitle{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.contentHeaderText{
    font-size:18px;
    color:#E5E7EB;
}



.imagePlaceholder{
   
    color:#F9FAF8;
    padding:0;
    width:500px;
    display:flex;
    justify-content:center;
  
}

.leftSideContainer{
   display:flex;
   flex-basis:500px;
   padding:0 10px;
   
}
.leftSideHeaderContent{
    padding:0;
}

.leftSideHeaderContent button{
    background-color:#3882F6;
    padding:10px 30px;
    border:none;
    border-radius:6px;
    color:#F9FAF8;
    font-weight:1000;
}
.rightSideContainer{
    display:flex;
    padding:0 10px;
   align-items:center;
   background-color:gray;
   
}

.headerMainContainer li{
    list-style-type:none;
}

.contentTitle{
    display:flex;
    align-items:center;
    justify-content:center;

}


.contentImage1, .contentImage2, .contentImage3, .contentImage4{
    width:150px;
    height:150px;
  
    border-color:#3882F6;
    border-style:solid;
    border-radius:6px;

}
.contentIllustrationContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.content1, .content2, .content3, .content4{
    width:200px;
   padding:0 20px;
  
    
}

.contentText{
    flex-wrap:wrap;
    width:200px;
}

.descriptionTextArea{
    background-color:#E5E7EB;
    
  
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
}
.desTextArea1{
   margin:50px;

}

.desTextArea1 p{
    font-weight:100;
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    padding:20px 20px;
    margin:0;
    width:800px;
    box-sizing:border-box;
   font-weight:100;
   
}

.desTextArea2{
 display:flex; 
 padding:20px;
 justify-content:right;
 box-sizing:border-box;
 font-weight:1000;
 font-size:20px;
}

.adTitle p{
    margin:0;
    
    color:#F9FAF8;
}
.adTitle{
    background-color:#3882F6;
    display:flex;
    justify-content:center;
    padding:40px;
    margin:5% 14%;
    border-radius:12px;
}
.adHeader{
    font-size:24px;
   
  
}

.adTitle Button{
    margin-left:20%;
    background-color:#3882F6;
    color:#F9FAF8;
    box-shadow: none;
    border-radius:12px;
    border-color:#F9FAF8;

}
